.events_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 20vh;
    padding: 1%;
    background-color: rgb(223, 221, 221);
    position: relative;
    margin: 3%;
  }

  .events_container h1 {
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 5% 0;
    background-color: rgb(189, 187, 187);
  }

  .events_container h3 {
    text-align: center;
    padding: 5%;
  }

  .events_container button {
    position: absolute;
    bottom: 0;
    margin: 5% 0;
    cursor: pointer;
  }

