.events_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
  width: 40vh;
  background-color: rgb(240, 240, 240);
  position: relative;
  margin: 3%;
  border-radius: 2%;
}

.events_title {
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 5% 0;
  letter-spacing: 1px;
  background: linear-gradient(to left top, rgb(95, 73, 73) 0%, #fff 60%);  
  color: #413f3f;
  text-decoration: none;
  z-index: 1;
}

.events_sub_container {
  width: 100%;
}

.events_container h3 {
  padding: 5%;
  text-align: center;
}

.events_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5%;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.events_btn:hover {
  transform: scale(1.5);
}

.events_btn:active {
  transform: translateY(0.5px);
}

.events_btn:focus {
  outline: none;
}

.events_container_img {
  height: 225px;
  width: 100%;
  top: 0;
  object-fit: cover;
}

.events_container_img:hover {
  opacity: 0.8;
}

.events_host {
  letter-spacing: 5px;
  /* z-index: 1; */
}

.events_info_btn {
  display: none;
  position: absolute;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;  
  left: 0;
  bottom: 0;
  margin: 5%;  
  height: 35px;
  width: 35px;
}

.events_info_btn_dropdown {
  display: none;
  position: absolute;
  width: 200px;
  padding: 30%;
  transform: translateY(-60%);
  background-color: #ffffff;
  z-index: 9999;
  font-weight: bold;
  letter-spacing: 1%;
  opacity: .9;
}

.events_info_btn_dropdown p {
  padding: 3% 0;
}

.events_info_btn:hover .events_info_btn_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.events_info_btn:hover {
  /* transform: scale(1.2); */
}

.events_info_btn:active {
  transform: translateY(0.5px);
}

.eventcard_icon {
  height: 15px;
  width: 15px;
}

.events_person {
  height: 20px;
}

.events_person_white {
  height: 20px;
}

.remove_event_by_id {
  position: absolute;
  background-color: rgb(240, 240, 240);
  bottom: 0;
  margin: 5%;  
  height: 35px;
  width: 35px;
}

.remove_event_by_id:hover {
  transform: scale(1.1)
}

.remove_icon_dropdown {
  height: 35px;
  width: 35px;
  padding: 5%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.remove_icon_dropdown:hover {
  transform: scale(1.03)
}


@media (max-width: 850px) {
  .events_container {
    /* height: 60vh; */
    width: 60vh;
    letter-spacing: 4px;
  }

  .events_container_img {
    height: 150px;
  }
}

@media (max-width: 567px) {
  .events_container {
    height: 40vh;
    width: 40vh;
  }

  .events_container_img {
    height: 225px;
  }

  .events_info_btn {
    display: block;
  }

  .remove_event_by_id {
    display: none;
  }

  .events_container h3 {
    display: none;
  }

  .events_container h1 {
    font-size: 0.85rem;
    letter-spacing: 0;
  }

  .events_container h3 {
    font-size: 0.8rem;
  }
}
