.events_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vh;
  background-color: rgb(240, 240, 240);
  position: relative;
  margin: 3%;
  border-radius: 2%;
}

.events_title {
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 5% 0;
  letter-spacing: 1px;
  border-bottom: 1px solid #dbd8cf;
  background: linear-gradient(bottom, rgb(212, 178, 178) 0%, #fff 80%);
  color: #413f3f;
  
}

.events_container h3 {
  padding: 5%;
  text-align: center;
}

.events_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5%;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.events_btn:hover {
  transform: scale(1.5);
}

.events_btn:active {
  transform: translateY(0.5px);
}

.events_btn:focus {
  outline: none;
}

.events_container_img {
  height: 225px;
  width: 100%;
  top: 0;
  object-fit: cover;
}

.events_container_img:hover {
  opacity: 0.8;
}

.events_host {
  letter-spacing: 5px;
}

.events_info_btn {
  display: none;
  position: relative;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 35px;
}

.events_dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

@media (max-width: 850px) {
  .events_container {
    height: 60vh;
    width: 60vh;
    letter-spacing: 4px;
  }
}

@media (max-width: 567px) {
  .events_container {
    height: 40vh;
    width: 40vh;
  }

  .events_info_btn {
    display: block;
  }

  .events_info_btn:hover .events_dropdown {
    display: block;
  }

  .events_container h3 {
    display: none;
  }

  .events_container h1 {
    font-size: 0.85rem;
    letter-spacing: 0;
  }

  .events_container h3 {
    font-size: 0.8rem;
  }
}
