.info_container {

}

.dropdown-info {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: 700px;
  width: auto;
  transform: translate(0, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
}

.info_container:hover .dropdown-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dropdown-info h1 {
      color: black;
  }