.home_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.events_display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  padding: 40px;
  margin: 2%;
  border-radius: 1%;
}

.search_bar {
  width: 50rem;
  height: 2rem;
  background-color: rgb(250, 250, 250);
}

.search_bar:focus {
  outline: none;
}

.event_not_found {
  height: 50vh;
  padding: 2%;
  display: flex;
  align-items: center;
}

.event_not_found h1 {
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.5px 0.5px 8px grey;
  letter-spacing: 4px;
}

.home_linebreak {
  margin-top: 2%;
  border: solid 1px rgb(204, 202, 202);
  width: 99%;
}

.home_title {
  letter-spacing: 2px;
  font-size: 2rem;
  color: rgb(72, 72, 72);
  animation: textIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.home_input_section {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.home_dropdown_container h1 {
  cursor: pointer;
  margin: 10%;
}

.home_dropdown {
  display: none;
  cursor: pointer;
}

.home_dropdown h2 {
  border-top: solid grey 0.5px;
  margin: 3% 10%;
  padding: 4% 0;
}

.home_dropdown_container:hover .home_dropdown {
  display: flex;
  flex-direction: column;
  animation: rightFade 2s;
}

.hidden_menu_arrow {
  display: flex;
}

.hidden_menu_img {
  position: fixed;
  left: 0;
  top: 50%;
  height: 40px;
  opacity: .1;
}

.hidden_menu_img:hover {
  opacity: .3;
}

.hidden_menu_img:focus {
  outline: none;
}

.hidden_menu_content {
  font-size: .75rem;
  letter-spacing: 1px;
  display: none;
  position: fixed;
  min-width: 160px;
  height: 100px;
  width: auto;
  z-index: 9999;
  animation: menuFade 1.5s;
  left: 2%;
  top: 52%;
  background-color: white;
  opacity: .8;
  padding: 2%;
}

.hidden_menu_content h1 {
  font-weight: bold;
  padding-bottom: 6%;
}

.hidden_side_events {
  padding: 1.5% 0;
}

.hidden_menu_arrow:hover .hidden_menu_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  /* align-items: center; */
}

.home_selected_event {
  text-decoration: none;
  color: rgb(10, 10, 10);
}

.home_selected_event:hover {
  color: rgb(99, 28, 28);
}

@keyframes menuFade {
  0% {
    opacity: 0;
    transform: translateY(-50%, 30px);
  }

  100% {
    opacity: .8;
    transform: translateY(-50%, 0);
  }
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

@keyframes rightFade {
  0% {
    opacity: 0;
    transform: translate(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes textIn {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1116px) {
  .events_display {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .search_bar {
    width: 30rem;
    height: 2rem;
  }
}

@media (max-width: 700px) {
  .events_display {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .search_bar {
    width: 20rem;
    height: 2rem;
  }
}
