.home_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.events_display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  padding: 40px;
  margin: 2%;
  border-radius: 1%;
}

.search_bar {
  width: 50rem;
  height: 2rem;
  background-color: rgb(253, 253, 253);
}

.search_bar:focus {
  outline: none;
}

.event_not_found {
  height: 50vh;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event_not_found h1 {
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.5px 0.5px 8px rgb(126, 125, 125);
  letter-spacing: 4px;
}

.home_linebreak {
  margin-top: 2%;
  border: solid 1px rgb(204, 202, 202);
  width: 99%;
}

.home_title {
  letter-spacing: 2px;
  font-size: 2rem;
  color: rgb(72, 72, 72);
  animation: textIn 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.home_input_section {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.hidden_menu_arrow {
  display: flex;
}

.hidden_menu_img {
  position: fixed;
  left: 0;
  top: 50%;
  height: 40px;
  opacity: 0.1;
}

.hidden_menu_img:hover {
  opacity: 0.3;
}

.hidden_menu_img:focus {
  outline: none;
}

.hidden_menu_content {
  font-size: 0.75rem;
  letter-spacing: 1px;
  display: none;
  position: fixed;
  min-width: 160px;
  height: 100px;
  width: auto;
  z-index: 9999;
  animation: menuFade 1.5s;
  left: 2%;
  top: 52%;
  background-color: white;
  opacity: 0.8;
  padding: 2%;
}

.hidden_menu_content h1 {
  font-weight: bold;
  padding-bottom: 6%;
}

.hidden_side_events {
  padding: 1.5% 0;
}

.hidden_menu_arrow:hover .hidden_menu_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
}

.home_selected_event {
  text-decoration: none;
  color: rgb(10, 10, 10);
}

.home_selected_event:hover {
  color: rgb(99, 28, 28);
}

.home_listview {
  width: 60%;
  margin: 0 20%;
}

.home_menu_icon {
  height: 25px;
  margin-right: 2%;
  cursor: pointer;
}

.home_menu_icon:hover {
  transform: scale(1.05);
}

.profile_setup {
  position: fixed;
  bottom: 5%;
  left: 2%;
  animation: bounce-in-bottom 1.1s both;
  animation-delay: 2s;
}

.home_bubble {
  position: relative;
  background: #f1f0f0;
  border-radius: 0.4em;
  padding: 3%;
}

.bubble_text {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: #3f3e3e;
}

.home_bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #f1f0f0;
  border-bottom: 0;
  border-left: 0;
  margin-left: -30px;
  margin-bottom: -20px;
}

.clippy {
  height: 75px;
  margin-top: 10%;
}

@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
    transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes menuFade {
  0% {
    opacity: 0;
    transform: translateY(-50%, 30px);
  }

  100% {
    opacity: 0.8;
    transform: translateY(-50%, 0);
  }
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

@keyframes rightFade {
  0% {
    opacity: 0;
    transform: translate(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes textIn {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1116px) {
  .events_display {
    justify-content: center;
  }

  .search_bar {
    width: 40rem;
  }
}

@media (max-width: 800px) {
  .home_input_section {
    justify-content: space-evenly;
    width: 80%;
  }
  .search_bar {
    width: 30rem;
    height: 2rem;
  }

  .home_menu_icon {
  }
}

@media (max-width: 700px) {
  .events_display {
    justify-content: center;
  }

  .search_bar {
    width: 22rem;
    height: 1.5rem;
  }
}

@media (max-width: 550px) {
  .search_bar {
    width: 15rem;
    height: 1.5rem;
  }
}
