.contacts_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts_box {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 218, 214);
    border-radius: .5%;
    margin: 2% 0;
    position: relative;
    text-align: center;
    padding: 2%;
    border-bottom: 1px solid #dbd8cf;
    background: linear-gradient(to top, rgb(205, 218, 214) 0%, #fff 90%);
}

.contacts_box h1 {
    font-size: 40px;
    position: absolute;
    top: 0;
    margin: 5% 0;
    letter-spacing: 5px;
}

.contacts_box p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2rem;    
}

.email_text {
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;    
}

.contacts_email {
    text-decoration: none;
    color: rgb(153, 151, 151);
}