.header_container {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(157, 180, 173);
}

.link {
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 0 40px;
}
