.header_container {
  border-top: 1px solid #dbd8cf;
  background: linear-gradient(to bottom, rgb(224, 223, 223) 0%, #fff 100%);
}

.header_link_container {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_header_links {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #3f3e3e;
  cursor: pointer;
  margin: 0 40px;
  letter-spacing: 2px;
}

.link:hover {
  transform: scale(1.05);
}

.hamburger_link {
  padding: 1% 0;
}

.header_render_logout {
  display: flex;
}

.header_render_logout a {
  display: flex;
  align-items: center;
}

.hamburger_container {
  display: none;
  position: relative;
  padding-right: 3%;  
}

.hamburger {
  width: 70px;
  height: 70px;
  margin-left: 75px;
}

.hamburger_dropdown {
  display: none;
}

.hamburger_container:hover .hamburger_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  animation: dropdownFade 1.5s;
}



@keyframes dropdownFade {
  0% {
    opacity: 0;
    transform: translateY(-30px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
    
  }
}

@media (max-width: 800px) {
  .link {
    margin: 0 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 500px) {
  .logo,
  .header_link_container {
    display: none;
  }
  .hamburger_container {
    display: block;
  }
  .header_container {
    display: flex;
    flex-direction: row-reverse;
  }
}
