.footer_container {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* border-top: solid 1.5px rgb(207, 207, 207); */
}

.twitter_icon {
  padding: 30px;
  height: 50px;
  width: 50px;
}

.copyright {
  display: flex;
  align-items: center;
  padding: 2%;
}
