.footer_container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
  /* border-top: solid 1.5px rgb(207, 207, 207); */
}

.footer_icon {
  margin: 30px;
  height: 35px;
  width: 35px;
}

.twitter {
  border-radius: 50%;
}

.linkedin {
  border-radius: 5%;
}

.facebook {
  border-radius: 10%;  
}

.copyright {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}

.footer_link {
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 10%;
}


@media (max-width: 800px){
  .footer_icon {
    margin: 15px;
  }

  .footer_link {
    padding: 5%;
  }
} 

@media (max-width: 600px) {
  .footer_link {
    display: flex;
    flex-direction: column;
  }

  .footer_icon {
    margin: 5px;
  }
}