.mc_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mc_title {
  font-weight: bold;
  font-size: 2.5rem;
}

.mc_display {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
  width: 50%;
  background: linear-gradient(to top left, rgb(198, 200, 201) 0%, #fff 90%);
  position: relative;
  border-radius: 1%;
}

.mc_events_display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
}

.mc_events_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1%;
  background: linear-gradient(to top left, rgb(198, 200, 201) 0%, #fff 80%);
  margin: 3%;
}

.mc_name_and_img {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
}

.mc_events_img {
  height: 225px;
  width: 225px;
  border-radius: 1%;
}

.mc_events_display p {
  margin: 2%;
}

.mc_display h2 {
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.5px 0.5px 8px grey;
  letter-spacing: 4px;
}

.mc_link {
  text-decoration: none;
}

.mc_login_btn {
  text-align: center;
  font-size: 1.5rem;
  color: #3f3e3e;
  padding: 8%;
}

.profile_display_img {
  height: 35%;
  width: 30%;
}

.mc_display h3 {
  font-weight: bold;
  margin: 5% 0;
}

.mc_profile_name {
  font-size: 1.5rem;
}

.mc_selected_title {
  text-decoration: none;
  color: rgb(10, 10, 10);
}

.profile_bio {
  margin-bottom: 2%;
}

.edit_profile_link {
  text-decoration: none;
  color: #3f3e3e;
  cursor: pointer;
  width: 90px;
}

.profile_remove_img {
  width: 35px;
  animation: rotate-90-ccw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.profile_remove_img:hover {
  animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.profile_remove_img:focus {
  outline: none;
}

.mc_selected_title{
  animation: textFade 2s;
  /* text-decoration: none; */
}


@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg) scale(1.05);
  }
}

@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes textFade {
  0% {
    opacity: 0;
    /* transform: scale(0.95); */
    transform: translateX(-30px)
  }

  100% {
    opacity: 1;
    /* transform: scale(1); */
    transform: translateX(0)
    
  }
}
