/* .ie_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.events_viewbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ie_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 1%;
  /* background: linear-gradient(to top left, rgb(220, 223, 222) 0%, #fff 90%); */
  position: relative;
}

.ie_container h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 5px;
  border-bottom: 1px solid #dbd8cf;
  color: #3f3e3e;
}

.ie_img_box {
    width: 200px;
    height: 100%;
    padding: 1%;
}

.ie_img {
  width: 100%;
  max-width: 300px;
    max-height: 400px;
}

.ie_info_container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #dbd8cf;
}

.ie_box h2 {
    font-weight: bold;
  letter-spacing: 2px;
    padding: 0 2%;
}

.ie_box h3 {
  padding: 3%;
}

.ie_box h4 {
  padding: 3%;
}

.ie_title {
  animation: ieTitleFade 2s;
}

.ep_submit_btn {
  font-size: .9rem;
  position: absolute;
  bottom: 1%;
  right: 0;
}

.ep_submit_btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.events_map {
  border: 1px solid black;
  margin: 1% 0;
}

.events_editable{
  margin: 2%;
}

.events_editable_big {
  font-size: 2rem;
  letter-spacing: 2px;
}

@keyframes ieTitleFade {
  0% {
    opacity: 0;
    transform: translateX(-40px)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
    
  }
}

@media (max-width: 1100px) {
  .ie_img {
    height: 40%;
    width: 60%;
  }

  .ie_box {
    height: 60%;
  }
}

@media (max-width: 600px) {
  .ie_img {
    margin-right: 35%;
    height: 40%;
    width: 60%;
  }

  .ie_box {
    height: 40%;
  }
}
