.events_viewbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ie_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 1%;
  position: relative;
  margin-top: 2%;
}

.ie_container h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 5px;
  border-bottom: 1px solid #dbd8cf;
  color: #3f3e3e;
}

.ie_img_box {
  width: 300px;
  height: 100%;
  padding: 1%;
}

.ie_img {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.ie_info_container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #dbd8cf;
  padding-left: 1%;
}

.ie_box h2 {
  font-weight: bold;
  letter-spacing: 2px;
}

.ie_box h3 {
  padding: 2.5% 1%;
}

.ie_box h4 {
  padding: 3%;
}

.ie_title {
  animation: ieTitleFade 2s;
  text-align: center;
}

.ep_submit_btn {
  font-size: 0.9rem;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.ep_submit_btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.events_map {
  border: 1px solid black;
  margin: 3%;
}

.events_map_weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.events_editable {
  margin: 2%;
}

.events_editable_big {
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

.events_attend_container {
  width: auto;
}

.events_attend_link {
  cursor: pointer;
}

.events_attend {
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 3%;
  margin-top: 3%;
}

.events_attend_link:hover {
  transform: translate(2%);
}

.back_to_events {
  font-size: 0.8rem;
  text-decoration: none;
  color: #369999;
  margin-top: 5%;
  display: inline-block;
}

.back_to_events:hover {
  transform: scale(1.05);
}

.events_edit_prof {
  font-size: 1rem;
  margin: 4% 0;
  cursor: pointer;
}

@keyframes ieTitleFade {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1100px) {
  .ie_img {
    height: 40%;
    width: 60%;
  }

  .ie_box {
    height: 60%;
  }

  .ie_info_container {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .ie_info_container {
    width: 30%;
  }
}

@media (max-width: 715px) {
  .events_editable_big {
    font-size: 1.5rem;
  }

  .ie_title {
    font-size: 1.5rem;
  }

  .ie_box {
    flex-direction: column;
    margin-bottom: 6%;
  }

  .ie_img_box {
    margin-bottom: 3%;
  }

  .ie_img {
    width: 100%;
  }

  .ie_info_container {
    width: 100%;
    align-items: stretch;
    border-left: none;
    border-top: 1px solid #dbd8cf;
    border-bottom: 1px solid #dbd8cf;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
  }

  .ep_submit_btn {
    bottom: -3.5%;
  }
}

@media (max-width: 520px) {
  .events_map {
    display: flex;
    align-items: center;
    overflow: auto;
    width: 100%;
  }
}
