.create_event_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.create_event_input {
  position: relative;
  height: 30%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
  border-radius: 0.5%;
  margin: 2% 0;
  border-bottom: 1px solid #dbd8cf;
  background: linear-gradient(to top right, rgb(205, 218, 214) 0%, #fff 70%);
}

.create_event_container input {
  margin: 2%;
}

.create_event_container h1 {
  font-weight: bold;
  letter-spacing: 2px;
}

.ce_button {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2%;
  color: black;
}

.ce_button:hover {
  transform: scale(1.05)
}

.create_event_input button:hover {
  transform: scale(1.05);
  background-color: rgb(236, 236, 236);
}

.create_event_input button:focus {
  outline: none;
}

.location-search-input {
  width: 95%;
}

.ce_time {
  margin: 2%;
}

.ce_input_field {
  border-width: 0 0 2px;
  font-size: 1rem;
  width: 200px;
  height: 35px;
}

.ce_input_field {
  outline: none;    
}

.floating_placeholder {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
    opacity: .7;
}

.ce_input_field:focus ~ .floating_placeholder,
.ce_input_field:not(:focus):valid .floating_placeholder {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}


.input_field {
  width: 400px;
}

.setup_title {
  margin-bottom: 4%;
}

.file_upload {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}