.dropdown_avatar {
  margin-right: 50px;
}

.dropdown_avatar_content {
  display: none;
  position: absolute;
  min-width: 160px;
  height: 100px;
  width: auto;
  transform: translate(-50%);
  z-index: 9999;
  animation: downFade 1.5s;
}

.dropdown_avatar:hover .dropdown_avatar_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_avatar {
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;
}
.dropdown_link:hover {
  transform: scale(1.05);
}

.dropdown_link {
  text-decoration: none;
  color: #3f3e3e;
  cursor: pointer;
  margin: 0 40px;
  letter-spacing: 2px;
  padding: 2%;
}

.header_avatar:hover {
  transform: scale(1.05);
}

@keyframes downFade {
  0% {
    opacity: 0;
    transform: translateY(-50%, 30px);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%, 0);
  }
}
